.forms-all {
  background-repeat: no-repeat;
  background-size: 100% 900px;
  background-position: center;
  min-height: 900px;
  width: 90%;
  margin: 5% 5%;
  padding: 0;
}

.image-7-5-3 {
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-position: center;
  min-height: 500px;
  width: 100%;
  margin: 5% 5%;
  padding: 0;
}

.motivation {
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-position: center;
  min-height: 500px;
  width: 80%;
  margin: 5% 15%;
  padding: 0;
}

.login {
  background-image: url('../images/login.jpg');
  background-repeat: no-repeat;
  background-size: 100% 1000px;
  background-position: center;
  min-height: 1000px;
  width: 70%;
  margin: 5% 15%;
  padding: 0;
}
